<div class="main-div">
    <h1>Vote form</h1>
    <!--NA OSNOVU MDELA FORME IZ CAMUNDE SE GENERESE FORMA-->
    <form  nz-form [formGroup]="voteForm" (ngSubmit)="submitForm(voteForm.value)">

      <div *ngFor="let field of formFields" >

          <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>{{field.label}}</nz-form-label>
              <nz-form-control nzHasFeedback [nzSm]="12" [nzXs]="24">


                   <textarea rows="4" cols="45" *ngIf="field.type.name=='textArea'" id={{field.id}}  [ngModelOptions]="{standalone: true}" [(ngModel)]="inputValue"></textarea>

                   <nz-select *ngIf="field.type.name=='enum'" id={{field.id}}  [ngModelOptions]="{standalone: true}" nzPlaceHolder="Please select"  [(ngModel)]="multipleValue">
                      <nz-option *ngFor="let option of field.type.values" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                   </nz-select>

                   <div *ngIf="field.type.name=='nonEditibleFiles'">
                        <div *ngFor="let file of field.type.values" >
                          <a (click)="downloadFile(file)">
                             {{file}}
                          </a>
                        </div>
                   </div>

             </nz-form-control>
           </nz-form-item>

      </div>

      <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary">Submit</button>
          <br/>
          <br/>
        </nz-form-control>
      </nz-form-item>


    </form>


  </div>

