<div *ngIf="!isFormVisible">
  <button nz-button
      nzGhost
      style="margin-bottom: 5%;"
      (click)="proccessLastOne()">Process Last One</button>

  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Title</th>
        <th>Genres</th>
        <th>Writers</th>
        <th>Synopsis</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.title }}</td>
        <td>{{ listToString(data.genres) }}</td>
        <td>{{ listToString(data.writers) }}</td>
        <td>{{ data.synopsis }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>

<div *ngIf="isFormVisible">
  <button nz-button
  nzGhost
  style="margin-bottom: 5%;"
  (click)="tableViewSwitch()">Table View</button>

  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">

    <div *ngFor="let field of formFieldsDto">
    <nz-form-item>
        <nz-form-label [nzSpan]="7">{{field.label}}</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">

            <input nz-input
                type="text"
                formControlName={{field.id}}
                id={{field.id}}
                *ngIf="field.type.name=='string'">

            <label formControlName={{field.id}}
                nz-checkbox
                [(ngModel)]="isApproved"
                *ngIf="field.type.name=='boolean'"></label>

       </nz-form-control>
     </nz-form-item>

    </div>

    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>

</div>

<div>
  <nz-modal
    [(nzVisible)]="isModalVisible"
    nzTitle="Book Request Denied"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isModalOkLoading"
  >
    <label>Reason: </label>
    <textarea rows="4" nz-input [(ngModel)]="textareaText"></textarea>
  </nz-modal>
</div>
