<div>
  <nz-layout>
    <nz-header>
      <div class="logo"><img class="logo-img" src="https://cdn3.iconfinder.com/data/icons/education-science-vol-2-1/512/literature_pen_ink_book-256.png"></div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item nzSelected>
          <i nz-icon nzType="home" nzTheme="outline"></i>
          Welcome
        </li>
        <li (click)="bookRequests()" *ngIf="isEditor" nz-menu-item>
          <i nz-icon nzType="book" nzTheme="outline"></i>
          Book Requests
        </li>
        <li (click)="changedHandwrite()" *ngIf="isEditor" nz-menu-item>
          <i nz-icon nzType="book" nzTheme="outline"></i>
          Changed Handwrite
        </li>
        <li (click)="chooseBetaReader()" *ngIf="isEditor" nz-menu-item>
          <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
            Choose betareader
        </li>
        <li (click)="betaReaderComment()" *ngIf="isReader && isBetaReader" nz-menu-item>
          <i nz-icon nzType="comment" nzTheme="outline"></i>
            Leave comment
        </li>
        <li (click)="committeeVote()" *ngIf="isCommittee" nz-menu-item>
          <i nz-icon nzType="comment" nzTheme="outline"></i>
            Vote
        </li>
        <li nz-menu-item style="float: right;" (click)="logout()">
          <i nz-icon nzType="user" nzTheme="outline"></i>
          Logout
        </li>
      </ul>
    </nz-header>
    <nz-layout>
      <nz-layout class="inner-layout">
          <nz-content style="background-color: rgba(255, 255, 255, 0.2);">
            <router-outlet></router-outlet>
          </nz-content>
      </nz-layout>

      <nz-sider nzWidth="250px" nzTheme="dark">
        <ul nz-menu nzMode="inline" class="sider-menu" nzTheme="dark">
          <li (click)="bookClick()" *ngIf="isWriter" nz-menu-item>
            <i nz-icon nzType="book" nzTheme="outline"></i>
            New Book
          </li>
          <li (click)="handwriteClick()" *ngIf="isWriter" nz-menu-item>
            <i nz-icon nzType="upload" nzTheme="outline"></i>
            Upload Handwrite
          </li>
          <li (click)="changeHandwriteClick()" *ngIf="isWriter" nz-menu-item>
            <i nz-icon nzType="edit" nzTheme="outline"></i>
            Change Handwrite
          </li>
          <li (click)="checkForPlagiats()" *ngIf="isEditor" nz-menu-item>
            <i nz-icon nzType="book" nzTheme="outline"></i>
            Check Plagiats
          </li>
        </ul>
      </nz-sider>
    </nz-layout>
  </nz-layout>
</div>
