<div class="main-div">
    <h1>Form for choosen beta readers</h1>
    <!--NA OSNOVU MDELA FORME IZ CAMUNDE SE GENERESE FORMA-->
    <form  nz-form [formGroup]="betaReaderForm" (ngSubmit)="submitForm(betaReaderForm.value)">
  
      <div *ngFor="let field of formFields" >
  
          <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired for={{field.id}}>{{field.label}}</nz-form-label>
              <nz-form-control nzHasFeedback [nzSm]="12" [nzXs]="24" [nzErrorTip]="err">
  
                   <nz-select *ngIf="field.type.name=='enum'" id={{field.id}} [[nzSize]="size"  [ngModelOptions]="{standalone: true}" nzPlaceHolder="Please select" nzMode="multiple"   [(ngModel)]="multipleValue">
                      <nz-option *ngFor="let option of field.type.values" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                   </nz-select>
        
             </nz-form-control>
           </nz-form-item>
  
      </div>
  
      <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary">Submit</button>
          <br/>
          <br/>
        </nz-form-control>
      </nz-form-item>
  
  
    </form>
  
  
  </div>
  

