<div class="wallpaper">

<h1 style="font-family: 'Times New Roman', serif; font-weight: bold;">Welcome to Seller Registration!</h1>
<br>
<br>

<div style="text-align: center;">
  <br>
  <form nz-form [nzLayout]="validateForm.get('formLayout')?.value" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label>Full Name</nz-form-label>
      <nz-form-control nzErrorTip="Please input your Name!">
        <input nz-input formControlName="sellerName" placeholder="seller name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label >Country</nz-form-label>
      <nz-form-control nzErrorTip="Please input your Country!">
        <input nz-input formControlName="countryName" placeholder="input country" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label >City</nz-form-label>
      <nz-form-control nzErrorTip="Please input your City!">
        <input nz-input formControlName="cityName" placeholder="input city" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label >Street</nz-form-label>
      <nz-form-control nzErrorTip="Please input your Street and Number!">
        <input nz-input formControlName="streetName" placeholder="street, number" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label >Zip Code</nz-form-label>
      <nz-form-control nzErrorTip="Please input your Zip Code!">
        <input nz-input formControlName="zipName" placeholder="input zip code" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="bankChecked">
      <nz-form-label>Select Bank</nz-form-label>
      <nz-form-control nzErrorTip="Please select your Bank!">
        <nz-select
          formControlName="bank"
          nzAllowClear
          [(ngModel)]="selectedBank"
          nzPlaceHolder="Select bank">
          <nz-option *ngFor="let value of bankList" [nzValue]="value.name" [nzLabel]="value.name"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label >Membership amount (rsd)</nz-form-label>
      <nz-form-control nzErrorTip="Please input your Membership Amount!">
        <nz-input-number [nzMin]="1" formControlName="membership" nzPlaceHolder="amount"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="4">
        <button nz-button [disabled]="!validateForm.valid" nzType="primary">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>


<br>
<span class="inline-span" *ngIf="bitcoinVisible">
  <h3 class="h3">Choose Payment Type </h3>
  <label nz-checkbox [(ngModel)]="bitcoinChecked">
    <img src="https://www.flaticon.com/svg/static/icons/svg/1490/1490849.svg"
        alt='BITCOIN'
        class="image" />
  </label>
</span>
<span class="inline-span" *ngIf="paypalVisible">
  <label nz-checkbox [(ngModel)]="paypalChecked">
    <img src="https://www.flaticon.com/svg/static/icons/svg/174/174861.svg"
      alt='PAYPAL'
      class="image" />
  </label>
</span>
<span class="inline-span" (change)="bankClicked()" *ngIf="bankVisible">
  <label nz-checkbox [(ngModel)]="bankChecked">
    <img src="https://www.flaticon.com/svg/static/icons/svg/2830/2830284.svg"
          alt='BANK'
          class="image" />
  </label>
</span>
</div>
