<div class="main-div">
  <h1>Registration form</h1>
  <!--NA OSNOVU MDELA FORME IZ CAMUNDE SE GENERESE FORMA-->
  <form  nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
  
    <div *ngFor="let field of formFields" >
       
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired for={{field.id}}>{{field.label}}</nz-form-label>  
            <nz-form-control nzHasFeedback [nzSm]="12" [nzXs]="24" [nzErrorTip]="err">
                

                <input nz-input type="text" formControlName={{field.id}} id={{field.id}} ngModel *ngIf="isString(field)">
                <label nz-checkbox  [(ngModel)]="isBetareader" [ngModelOptions]="{standalone: true}" style="margin-left: 20px;" *ngIf="field.type.name=='boolean'"></label> 
                <input type="number" formControlName={{field.id}} id={{field.id}} ngModel  *ngIf="field.type.name=='long'">
 

                 <nz-select [(ngModel)]="multipleValue" id={{field.id}} [disabled]="!isBetareader"  [nzSize]="size" nzMode="multiple"  [ngModelOptions]="{standalone: true}" nzPlaceHolder="Please select" *ngIf="field.type.name=='enum'">
                    <nz-option *ngFor="let option of field.type.values" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                 </nz-select> 


                 <input nz-input (ngModelChange)="onPasswordChange($event)"
                type="password"
                placeholder="Password"
                id={{field.id}}
                formControlName={{field.id}}
                *ngIf="field.type.name=='password'">

                <input nz-input (ngModelChange)="onPasswordConfirmChange($event)"
                type="password"
                placeholder="Password"
                id={{field.id}}
                formControlName={{field.id}}
                *ngIf="field.type.name=='confirm_password'">


                <ng-template #err let-control>
                  <ng-container *ngIf="control.hasError('required')">
                      Please fill this field!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('minlength')">
                      Not enough characters!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('maxlength')">
                     Too much characters!
                 </ng-container>
                  <ng-container *ngIf="control.hasError('email') && field.properties.hasOwnProperty('email')">
                    The input is not valid E-mail!
                  </ng-container>
                  <ng-container *ngIf="isUsernameExist">
                    This E-Mail already exist!
                  </ng-container>
                  <ng-container *ngIf="!control.hasError('required') && !control.hasError('pattern') &&field.type.name=='confirm_password'" >              
                    Password is inconsistent!
                  </ng-container>
                </ng-template>  
                


           </nz-form-control>

       <!--  <nz-form-control nzHasFeedback  [nzSm]="12" [nzXs]="24" [nzErrorTip]="passwordErrorTpl">

                <input nz-input (ngModelChange)="onPasswordChange($event)"
                type="password"
                placeholder="Password"
                id={{field.id}}
                formControlName={{field.id}}
                *ngIf="field.type.name=='password'">

                <input nz-input (ngModelChange)="onPasswordConfirmChange($event)"
                type="password"
                placeholder="Password"
                id={{field.id}}
                formControlName={{field.id}}
                *ngIf="field.type.name=='confirm_password'">
              
                
                <ng-template #passwordErrorTpl let-control>
                  <div id="passwordError">
                  <ng-container *ngIf="!control.hasError('required') && !control.hasError('pattern')" >              
                    Password is inconsistent!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('minlength')">
                    Not enough characters!
                 </ng-container>
                </div>
              </ng-template>  
              
          </nz-form-control>-->
           

         </nz-form-item>

    </div>
    
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
        <button nz-button (click)="resetForm($event)">Reset</button>
        <br/>
        <br/>
        <label style="margin-left: 4%; color: white;">
          or back to
        </label>
          <b style="color: blue;"><a (click)="onLogin()"> login!</a></b>
      </nz-form-control>
    </nz-form-item>
  

  </form>

  
</div>
